/* SUGGESTION: I noticed your website uses a "standard" font.
Google Fonts can be used to make the page more personal.

For example, to use the Roboto font , do the following:

Add this code to the <head> section of your html:
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
Add the corresponding CSS in your CSS file:
body{
  font-family: 'Roboto', sans-serif;
}
Note: this article can be used to select good Google Fonts.
*/

h1 {
	text-align: center;
	color: #006600;
}

h2 {
	margin: 10px;
	text-align: center;
}

body {
	font-family: Helvetica;
}

.lesson {
	background-color: #006600;
	border-radius: 20px;
	color: #ffffff;
	padding: 10px;
	margin: 10px;

}

.concept {
	background-color: #e6ffe6;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.concept-title {
	font-size: 20px;
	margin: 8px;
	text-align: center;
	color: #006600;
}

.concept-description {
	font-weight: lighter;
	margin: 6px;
}

.w3 {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

